* {
  padding: 0;
  margin: 0;
}

body {
  background-color: aliceblue;
}

/* .text_theme {
color: #ff2222;
} */

.hamburger {
  background-color: #ffeacf;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 10px;
}

.hamburger:hover {
  background: linear-gradient(
      228deg,
      rgba(255, 188, 0, 1) 0%,
      rgba(255, 162, 0, 1) 100%
  ) !important;
  color: #fff;
}
.hamburger .line {
  width: 33px;
  height: 3px;
  background-color: #000000;
  display: block;
  margin: 6px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* #hamburger-6.is-active {
margin: 8px 0;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
-webkit-transition-delay: 0.6s;
-o-transition-delay: 0.6s;
transition-delay: 0.6s;
}

#hamburger-6.is-active .line:nth-child(2) {
width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
-webkit-transition-delay: 0.3s;
-o-transition-delay: 0.3s;
transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
-webkit-transform: translateY(20px);
-ms-transform: translateY(20px);
-o-transform: translateY(20px);
transform: translateY(20px);
-moz-transform: translateY(20px);
}

#hamburger-6.is-active .line:nth-child(3) {
-webkit-transform: translateY(-5px) rotate(90deg);
-ms-transform: translateY(-5px) rotate(90deg);
-o-transform: translateY(-5px) rotate(90deg);
transform: translateY(-5px) rotate(90deg);
-moz-transform: translateY(-5px) rotate(90deg);
} */

.main_content {
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 50px 0;
  /* overflow-y: scroll; */
  position: relative;
  background-image: url("https://weboapps.xyz/viceroy/public/frontend/gradient-bokeh-digital-business-wallpaper.webp");
}

.banner_video {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.bg_Mix {
  background: #fff;
  padding: 10px 35px;
  /* background: linear-gradient(228deg, #478a26 35%, #7fb541 100%); */
  /* background-image: url(./assets/pngwing.com.png); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo img {
  width: 30%;
  margin: auto;
}

.grc_btn {
  background-color: #ff2222;
  margin-left: auto;
  color: #fff;
  text-decoration: none;
  padding: 7px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.grc_btn:hover {
  color: #000;
}

.header {
  /* background-color: #000; */
  padding: 0px 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  width: 100%;
}

.coolinput label.text {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
  width: fit-content;
  margin-bottom: 5px;
}

.coolinput input.input {
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  /*border-bottom: 1px #fff solid;
*/
  background: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.coolinput input.input:focus {
  outline: none;
}

.book_img {
  height: 100%;
  object-fit: cover;
}

.buttons {
  display: flex;
  max-width: 250px;
  margin: auto;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 8px 10px;
  text-align: center;
  color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.buttons_back {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  background-color: #000;
  border: none;
  outline: none;
  padding: 8px 10px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.modal-content {
  padding: 10px;
  background-color: #ffeacf;
}

.mdl_content h4 {
  font-size: 18px;
}

.mdl_content p {
  font-size: 14px;
}

.mdl_content textarea {
  width: 100%;
  padding: 11px 10px;
  font-size: 14px;
  border: 1px #666666 solid;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}

.mdl_content_2 textarea {
  width: 100%;
  padding: 11px 10px;
  font-size: 14px;
  border: 1px #666666 solid;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}

.footer_mdl {
  display: flex;
  justify-content: end;
}

.footer_mdl button {
  background-color: #000;
  border: none;
  outline: none;
  padding: 7px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 15px;
}

.terms_sec {
  padding: 20px 30px;
  display: block;
}

.terms_sec * {
  color: #fff;
}

.terms_sec ul {
  padding-left: 16px;
}

.terms_sec li {
  list-style: circle;
  font-size: 16px;
  margin-bottom: 7px;
  line-height: 1.8;
  color: #fff;
  text-align: justify;
}

.rounded-xl {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.customized-choose-file {
  width: 100%;
  background: none;
  display: inline;
  position: relative;
  padding: 16px 70px;
  z-index: 1;
  font-size: 14px;
  color: #fff;
  background: #ffffff3b;
  border-radius: 10px;
}

.customized-choose-file input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

.customized-choose-file span {
  position: absolute;
  left: 11px;
  top: 9px;
  text-align: center;
  z-index: 2;
  padding: 7px 8px;
  background: #ff2222;
  box-sizing: border-box;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}

.customized-choose-file span img {
  height: 18px;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

#file-name {
  color: green;
}

#file-previews {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}

.file-item {
  height: 40px;
  width: 40px;
  position: relative;
}

.file-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.file-item button {
  position: absolute;
  bottom: 0;
  right: -11px;
  font-size: 8px;
  padding: 4px 7px;
}

@media screen and (max-width: 992px) {
  .book_img {
      display: none;
  }

  .banner_video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      object-fit: cover;
  }

  .grc_btn {
      padding: 4px 9px;
  }

  .logo img {
      width: 50%;
      margin: auto;
  }
}

/* new css  */

#heading {
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset {
  /* background: white; */
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.form-card {
  text-align: left;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

.form-floating {
  margin-bottom: 10px;
}

input:focus-visible,
input:focus {
  background: #8e8e8e40;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

#msform input,
#msform textarea {
  padding: 18px 15px 0px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  /* margin-bottom: 15px; */
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #8e8e8e40;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: #8e8e8e40 !important;
}

input[type="checkbox"] {
  height: 20px !important;
  width: 20px !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
  background-color: #fff;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #fff;
  outline-width: 0;
}

label {
  color: #fff;
}

#msform .action-button {
  width: 100px;
  background: green;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
  border: none;
  outline: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #311b92;
}

#msform .action-button-previous {
  width: 100px;
  background: #000;
  font-weight: bold;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.6rem) translateX(0.15rem) !important;
  -webkit-transform: scale(0.85) translateY(-0.6rem) translateX(0.15rem) !important;
  -moz-transform: scale(0.85) translateY(-0.6rem) translateX(0.15rem) !important;
  -ms-transform: scale(0.85) translateY(-0.6rem) translateX(0.15rem) !important;
  -o-transform: scale(0.85) translateY(-0.6rem) translateX(0.15rem) !important;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: #fff;
  font-weight: normal;
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #fff;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #fff;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: green;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  /* .main_content {
  height: 100vh;
} */
}

#signature-pad {
  width: 100%;
  /* Canvas will take 100% width of its container */
  height: 100%;
  /* Maintain aspect ratio */
}

.text-center {
  max-width: 100%;
  /* Make the canvas container responsive */
}

/* @media (min-width: 768px) {
#signature-pad {
  width: 400px;
  height: 200px;
  touch-action: none;
}
#manager-signature-pad {
  width: 400px;
  height: 200px;
  touch-action: none;
}
} */

.trash-button {
  background-color: transparent;
  /* Transparent background */
  border: none;
  /* Remove default button border */
  cursor: pointer;
  /* Make it clickable */
  font-size: 1.5rem;
  /* Adjust icon size */
  color: #d9534f;
  /* Trash icon color (red) */
  padding: 8px;
  /* Adjust padding for better spacing */
  border-radius: 5px;
  /* Rounded corners */
  transition: background-color 0.3s ease;
}

.file-container {
  position: relative;
  margin-top: 10px;
}

.file-icon {
  display: flex;
  align-items: center;
}

.vip-details-text {
  margin-left: 10px;
  font-weight: bold;
}

#removeFile {
  display: inline;
}

.border {
  border: var(--bs-border-width) var(--bs-border-style) #000 !important;
}

.month_count {
  display: flex;
  align-items: center;
  gap: 20px;
}

.month_count li {
  list-style: none;
  cursor: pointer;
  background-color: #ffeacf;
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}

/* .month_count li:hover {
background-color: #8d82ae;
color: #fff;
} */

.Nationality {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.Nationality li {
  list-style: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}

/* Style for individual nationality items */
.Nationality li:nth-child(1) {
  background-color: rgba(68, 204, 68, 0.655);
  color: #fff;
}

.Nationality li:nth-child(2) {
  background-color: rgba(255, 166, 0, 0.655);
  color: #000;
}

.Nationality li:nth-child(3) {
  background-color: #666666;
  color: #fff;
}

.Nationality li:nth-child(4) {
  background-color: #cd1616;
  color: #fff;
}

.Nationality li.active {
  background-color: #007bff;
  color: white;
  border: 2px solid #ff8080;
}

.table_content thead {
  background-color: #000;
}

.table_content th {
  font-size: 12px;
  color: #fff;
}

.table_content td {
  font-size: 13px;
}

.modal-fullscreen {
  width: 97vw !important;
  max-width: none;
  height: 95% !important;
  margin: 18px auto !important;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .w_80 {
      width: 80px !important;
  }

  .w_100 {
      width: 100px !important;
  }

  .w_140 {
      width: 140px !important;
  }

  .w_60 {
      width: 60px;
  }
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgb(248 249 250 / 21%) !important;
}
.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.bxs-trash:before {
  content: "\eed4";
}
.clear-user-signature {
  margin-left: 400px;
}
.clear-manager-signature {
  margin-left: 400px;
}
/* Main list styling */
.terms_sec ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

/* Sub-list styling */
.terms_sec ol ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin-top: 5px;
}

@media all and (max-width: 576px) {
  #manager-signature-pad {
      width: 100%;
      height: 200px;
      touch-action: none;
  }
  #signature-pad {
      width: 100%;
      height: 200px;
      touch-action: none;
  }
  .terms_sec {
      padding: 0;
      display: block;
  }
  .customized-choose-file {
      display: block;
  }

  .clear-user-signature .btn.btn-secondary {
      position: absolute;
      right: 0;
  }
  .clear-manager-signature .btn.btn-secondary {
      position: absolute;
      right: 0;
      bottom: 74px;
  }

  #manager-signature-pad {
      /* padding-bottom: 50px; */
  }

  #vipdetails-canvas {
      width: 100%;
      touch-action: none;
  }

  .Nationality li:nth-child(1) {
      background-color: rgba(0, 128, 0, 0.655);
      color: #fff;
      white-space: nowrap;
  }

  .month_count.list-inline {
      margin-bottom: -50px;
  }
}

.custom-select-container {
  position: relative;
  width: 100%;
}

/* Hidden native select */
.hidden-select {
  display: none;
}

/* Custom dropdown styling */
.custom-dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
}

.custom-option {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-option:hover {
  background-color: #f0f0f0;
}

.foreignheading {
  color: white;
  margin-top: 3%;
  margin-bottom: 4%;
}

.filter-button.active {
  background: linear-gradient(
      228deg,
      #4caf50 0%,
      rgb(4 150 0) 100%
  ) !important;
  color: #fff;
  border: 2px solid #ff8080;
}

/* new css  */

.error {
  color: #ff8080 !important;
}
#vipButton {
  border: none;
  outline: none;
  padding: 8px 24px;
  margin-left: 10px;
  background: rgb(255, 188, 0) !important;
  background: linear-gradient(
      228deg,
      rgba(255, 188, 0, 1) 0%,
      rgba(255, 162, 0, 1) 100%
  ) !important;
}

#signature-pad_vip {
  touch-action: none;
}
/* #manager-signature-pad {
  width: 400px;
  height: 300px;
} */
@media all and (min-width: 767px) and (max-width: 992px) {
  .modal-dialog {
      max-width: 700px !important;
      margin-right: auto;
      margin-left: auto;
  }
  #signature-pad_vip {
      height: 300px;
      width: 630px;
      touch-action: none;
  }
  #vipdetails-canvas {
      width: 100%;
      touch-action: none;
  }
  .modal-dialog.modal_dilog_2 {
      max-width: 700px !important;
      margin-right: auto;
      margin-left: auto;
  }
  .main_content {
      min-height: 100vh;
  }
}
@media all and (max-width: 576px) {
  #signature-pad_vip {
      height: 300px;
      width: 630px;
      touch-action: none;
  }
  #vipdetails-canvas {
      width: 100%;
      touch-action: none;
  }

  .Nationality {
      display: block;
      margin-top: 50px;
  }
  .Nationality li {
      margin-bottom: 10px;
      padding: 10px 30px;
  }
}

.man-SigPad .sigWrapper,
.user-SigPad .sigWrapper {
  height: 180px !important;
  width: 400px !important;
}